<section class="fxmaster sidebar-tab directory flexcol">
  <header class="directory-header flexrow">
    <div class="action-toggle active" title="{{localize 'FXMASTER.CastStatic'}}">
      <a data-action="cast-static"><i class="fas fa-compress"></i></a>
    </div>
    <div class="action-toggle" title="{{localize 'FXMASTER.CastThrow'}}">
      <a data-action="cast-throw"><i class="fas fa-rocket"></i></a>
    </div>
    <div class="action-toggle" title="{{localize 'FXMASTER.CastExtend'}}">
      <a data-action="cast-extend"><i class="fas fa-angle-double-right"></i></a>
    </div>
    <div class="action-toggle" title="{{localize 'FXMASTER.CastExpand'}}">
      <a data-action="cast-expand"><i class="fas fa-expand-arrows-alt"></i></a>
    </div>
    <div class="action-toggle" title="{{localize 'FXMASTER.CastRotate'}}">
      <a data-action="cast-rotate"><i class="fas fa-undo"></i></a>
    </div>
    <div title="{{localize 'FXMASTER.AddEffect'}}">
      <a data-action="add-effect"><i class="fas fa-plus"></i></a>
    </div>
  </header>
  <ol class="directory-list">
    {{#each folders as |folder id|}}
    <li class="directory-item folder flexcol collapsed" data-folder-id="{{id}}">
      <header class="folder-header flexrow">
        <h3><i class="fas fa-folder-open fa-fw"></i> {{folder.label}}</h3>
      </header>
      <ol class="subdirectory">
        {{#each folder.effects as |effect effectId|}}
        <li class="directory-item entity flexrow special-effects" data-effect-id="{{effectId}}" draggable="true">
          <div class="preview">
            <video width="46" height="46" muted>
              <source src="{{effect.file}}">
            </video>
          </div>
          <div class="description">
            <a>
              <h4 title="{{effect.label}}">
                {{effect.label}}
              </h4>
              <div class="author"><span>{{effect.author}}</span></div>
            </a>
          </div>
          <div class="controls">
            {{#unless (eq effect.preset false)}}
            <a class="edit-effect"><i class="fas fa-clone"></i></a>
            {{else}}
            <a class="edit-effect"><i class="fas fa-edit"></i></a>
            <a class="del-effect"><i class="fas fa-trash"></i></a>
            {{/unless}}
          </div>
        </li>
        {{/each}}
      </ol>
    </li>
    {{/each}}
  </ol>
  <footer class="directory-footer flexrow">
  </footer>
</section>